# .aliases
#----------------------------------------------------------------------------------------------
#
#   Author: ma-kappa
#   Description: Collection of aliases for frequently used commands.
#
#   Sections:
#   1. MISC COMMANDS
#   2. NAVIGATION SHORTCUTS
#   3. FOLDER MANAGEMENT
#
#----------------------------------------------------------------------------------------------

#----------------------------------------------------------------------------------------------
#   1. MISC COMMANDS
#----------------------------------------------------------------------------------------------
# For the alternative programs.
# ls => exa
if type -all exa > /dev/null 2>&1; then
    # Exists exa.
    alias ls=exa
    alias ll='ls -alhFBg --git --time-style long-iso'                           # List files
    alias llr='ls -alhFBgr --git --time-style long-iso'                         # List files (reverse)
    alias lls='ls -alhFBg --git --time-style long-iso --sort size'              # List files by size
    alias llsr='ls -alhFBgr --git --time-style long-iso --sort size'            # List files by size (reverse)
    alias lld='ls -alhFBgm --git --time-style long-iso'                         # List files by date
    alias lldr='ls -alhFBgmr --git --time-style long-iso'                       # List files by date (reverse)
    alias lldc='ls -alhFBgU --git --time-style long-iso'                        # List files by date created
    alias lldcr='ls -alhFBgUr --git --time-style long-iso'                      # List files by date created (reverse)
    alias tree='ls -Tl --time-style long-iso'                                   # Tree view
else
    # Doesn't exist exa.
    alias ll='ls -FGlAhp'
    alias llr='ls -alhr'                                                        # List files (reverse)
    alias lls='ls -alhS'                                                        # List files by size
    alias llsr='ls -alhSr'                                                      # List files by size (reverse)
    alias lld='ls -alht'                                                        # List files by date
    alias lldr='ls -alhtr'                                                      # List files by date (reverse)
    alias lldc='ls -alhtU'                                                      # List files by date created
    alias lldcr='ls -alhtUr'                                                    # List files by date created (reverse)
fi
# cat => bat
if type -all bat > /dev/null 2>&1; then
    alias cat='bat -A'
fi 

alias cp='cp -iv'                                                               # Preferred 'cp' implementation
alias mv='mv -iv'                                                               # Preferred 'mv' implementation
alias mkdir='mkdir -pv'                                                         # Preferred 'mkdir' implementation
alias c='clear'                                                                 # Clear terminal display
alias h="history"                                                               # Shorthand for `history` command
alias which='type -all'                                                         # Find executables
alias path='echo -e ${PATH//:/\\n}'                                             # Echo all executable Paths
alias perm="stat -f '%Lp'"                                                      # View the permissions of a file/dir as a number
disk-usage() { du -hs "$@" | sort -nr; }                                        # List disk usage of all the files in a directory (use -hr to sort on server)
dirdiff() { diff -u <( ls "$1" | sort)  <( ls "$2" | sort ); }                  # Compare the contents of 2 directories

#----------------------------------------------------------------------------------------------
#   2. NAVIGATION SHORTCUTS
#----------------------------------------------------------------------------------------------
cs() { cd "$@" &&  ls; }                                                        # Enter directory and list contents with ls
cl() { cd "$@" && ll; }                                                         # Enter directory and list contents with ll
alias ..='cl ..'
alias ...='cl ../../'
alias ....='cl ../../../'
alias .....='cl ../../../../'
alias ......='cl ../../../../'
alias .......='cl ../../../../../'
alias ........='cl ../../../../../../'
alias home='clear && cd ~ && ll'                                                # Home directory

#----------------------------------------------------------------------------------------------
#   3. FOLDER MANAGEMENT
#----------------------------------------------------------------------------------------------
# Clear a directory
cleardir() {
    while true; do
        read -ep 'Completely clear current directory? [y/N] ' response
        case $response in
            [Yy]* )
                bash -c 'rm -rfv ./*'
                bash -c 'rm -rfv ./.*'
                break;;
            * )
                echo 'Skipped clearing the directory...'
                break;;
        esac
    done
}

# Make a tar.gz file
mktargz() { tar cvzf "${1%%/}.tar.gz"  "${1%%/}/"; }    # Creates a *.tar.gz archive of a file or folder
# Make a zip file
mkzip() { zip -r "${1%%/}.zip" "$1" ; }               # Create a *.zip archive of a file or folder
